body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  color: #121212;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
}

.container {
  margin: 5% 10%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  color: #f46b1c;
  text-decoration: none;
  margin: 10px 0;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 10px 0;
}

.photos {
  width: 100%;
  margin: 10px 0;
}
